{% if page_obj.has_other_pages %}
  {% with request.GET.urlencode as qs %}
  <nav aria-label="Paginação">
    <ul class="pagination justify-content-center flex-wrap">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?{% if qs %}{{ qs }}&{% endif %}page=1">Primeira</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?{% if qs %}{{ qs }}&{% endif %}page={{ page_obj.previous_page_number }}">Anterior</a>
        </li>
      {% endif %}

      {% for page_number in page_obj.paginator.page_range %}
        {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
          <li class="page-item {% if page_obj.number == page_number %}active{% endif %}">
            <a class="page-link" href="?{% if qs %}{{ qs }}&{% endif %}page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?{% if qs %}{{ qs }}&{% endif %}page={{ page_obj.next_page_number }}">Próxima</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?{% if qs %}{{ qs }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Última</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endwith %}
{% endif %}

