{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-6">Detalhes da Animais</h3>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ object.name }}</h3>
        <p class="card-text"> 
          <strong>Propriedade:</strong>
          {{ object.company }}
        </p>
        <p class="card-text"> 
          <strong>Raça:</strong>
          {{ object.breed }}
        </p>
        <p class="card-text"> 
          <strong>Categoria:</strong>
          {{ object.category }}
        </p>
        <p class="card-text">
          <strong>Data de inserção:</strong>
          {{ object.created_at|date:"d/m/Y H:i" }}
        </p>
        <p class="card-text">
          <strong>Última atualização:</strong>
          {{ object.updated_at|date:"d/m/Y H:i" }}
        </p>
      </div>
    </div>
    <a href="{% url 'animal_list' %}" class="btn btn-secondary mt-3">Voltar para Lista de Animais</a>
  </div>
{% endblock %}
