{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-6">Cadastrar Animal</h3>

    <div class="card">
      <div class="card-body">
        <form method="post" class="form" action="{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary"> Salvar Animal</button>
        </form>
      </div>
    </div>
    {% with request.GET.next as next_view %}
      {% with request.GET.urlencode as filters %}
        <a href="{% url next_view|default:'animal_list' %}?{{ filters }}" class="btn btn-secondary mt-3">
          Cancelar e Voltar para a Lista de Animais
        </a>
      {% endwith %}
    {% endwith %}
  </div>
{% endblock %}
